@page
@model MaintenanceLog.Pages.BooksModel
@{
}

<h2 class="rounded text-center text-white p-2" style="background-color: #08618d;">List of Utilities</h2>

<div class="row">
   
    <div >
        <table class="table align-middle">
            <tbody>
            @foreach (var item in Model.listUtilitys)
            {
                <tr>
                    <td style="width:200px">
                        <img src="/images/books/@item.ImageFileName" class="img-fluid rounded" alt="..." />
                    </td>
                    <td>
                        <h3>@item.Name</h3>
                        <p>
                           
                            Category: @item.Class<br>
                        </p>
                        <a class="btn btn-primary btn-sm my-2" href="/BookDetails?id=@(item.Id)" role="button">Details</a>
                       @*  <button type="button" class="btn btn-warning btn-sm my-2" onclick="addToCart(this, @item.Id)">
                            Add to Cart <i class="bi bi-cart4"></i>
                        </button> *@
                    </td>
                </tr>  
            }
                
            </tbody>
        </table>


        <nav aria-label="Page navigation example">
            <ul class="pagination">
            @for(int i = 1; i <= Model.totalPages; i++) 
            {
                <li class="page-item"><a class="page-link" href="?page=@(i)&Search=@(Model.Search)&Class=@(Model.Class)">@i</a></li>
            }
                
            </ul>
        </nav>
    </div>
</div>